[Unit]
Description=Accton AS9926-24D Platform Monitoring service
Before=pmon.service
After=sysinit.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/accton_as9926_24d_util.py install
KillSignal=SIGKILL
SuccessExitStatus=SIGKILL
TimeoutSec=300

# Resource Limitations
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
