ACTION=="add", SUBSYSTEM=="net", DRIVERS=="igb", KERNELS=="0000:01:00.0", NAME:="eth0"
ACTION=="add", SUBSYSTEM=="net", DRIVERS=="ice", KERNELS=="0000:18:00.0", NAME:="eth1"
ACTION=="add", SUBSYSTEM=="net", DRIVERS=="ice", KERNELS=="0000:86:00.0", NAME:="eth2"